@font-face {
    font-family: "big_noodle_titling_oblique";
    src: url('big_noodle_titling_oblique.woff') format('woff'),
         url('big_noodle_titling_oblique.ttf')  format('truetype'); 
         font-weight:normal;
         font-style:normal;
         font-variant:normal;
        }

/* Main element Modification */
body {
    background-image: url(images/owbg.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
h1 {
    font-family: 'big_noodle_titling_oblique', sans-serif;
    color: orange;
    font-size: 5vh;
    margin: 0;
}
h2, h3, h4, h5, h6 {
    font-family: 'big_noodle_titling_oblique', sans-serif;
    color: orange;
}

/* Headers */
.header {
    width: 95%;
    height: 15%;
    margin: auto;
}
.logo{
    display: inline-block;
    width: 10vw;
    text-align: center;
}
.logo img{
    display: block;
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
    top: 2vh;
    text-align: center;
}
.headerInfo {
    display: inline-block;
    height: 15vh;
    width: 100%;
    text-align: center;
}
.nav {
    padding: 0;
}
.nav li, .nav a {
    list-style-type: none;
    padding: .5vh;
    display: inline;
    font-family: 'big_noodle_titling_oblique', sans-serif;
    font-size: 5vh;
    color: orange;
}

/* Containers */
.main-container {
    width: 95%;
    height: 85%;
    margin: auto;
}
#statBar {
    display: inline-block;
    /* background-color:black; */
    color: orange;
    width: 10%;
    margin: auto;
    text-align: center;
}
.games-played, .attempts, .accuracy {
    height: 22vh;
    margin-bottom: 1vh;
    font-family: 'big_noodle_titling_oblique', sans-serif;
}
#game-area {
    width: 85%;
    height: 85%;
    vertical-align: top;    
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    position: relative;
}

/* Card Control */
.card {
    background-color:  rgb(27, 25, 25);
    position: relative;
    box-shadow: 0px 0px 3px 2px grey;
    overflow: hidden;
}
.front, .back {
    height: 100%;
    width: 100%;
    position: absolute;
}
.front {
    background-image: url(images/cardfrontbg.jpg);
    background-size: cover;
}
.back {
    background-image: url(images/owcardbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.front img, .back img {
    max-height: 100%;
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
.reveal .back{
    display: none;
}
.matched .back {
    display: none;
}
.viewing {
    pointer-events: none;
}

/* Splash Modal */
#splashModal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    min-width: 95vw;
    min-height: 50vw;
    max-width: 95vw;
    max-height: 90vh;
    background-color: rgba(0, 0, 0, 0.95);
}
#splashModal p {
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    font-family: 'big_noodle_titling_oblique', sans-serif;
    color: orange;
    font-size: 10vh;
    text-align: center;
    vertical-align: middle;
}
.hideModal{
    display: none;
}

/* Win Modal */
#winModal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    min-width: 95vw;
    min-height: 50vw;
    max-width: 95vw;
    max-height: 90vh;
    background-color: rgba(0, 0, 0, 0.95);
}
#winModal p {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    font-family: 'big_noodle_titling_oblique', sans-serif;
    color: orange;
    font-size: 15vh;
    text-shadow: 4px 4px 5px black;
    text-align: center;
    vertical-align: middle;
}
.victory {
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 600px;
    max-width: 600px;
    margin: auto;
}
.hideWinModal{
    display: none;
}